.footer {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  /* margin-bottom: 0; */
  width: 100%;
}

.footer ul {
  display: flex;
}

.footer li {
  margin: 20px;
  list-style-type: none;
}
