.header1 {
  margin-left: 103px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.schoolCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-body {
  display: block;
  border: 1px solid black;
  padding: 30px;
  grid-gap: 20px;
  width: 200px;
  height: 310px;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  margin-top: -10px;
}

.school-type {
  color: rgb(134, 144, 153);
  font-size: 15px;
  line-height: 1.33;
  max-height: calc(31.92px);
  overflow: hidden;
  position: relative;
  text-align: center;
}

.school-type-two {
  color: rgb(134, 144, 153);
  font-size: 15px;
  line-height: 1.33;
  max-height: calc(31.92px);
  overflow: hidden;
  position: relative;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.school-type-info {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  line-height: 1.33;
  max-height: calc(31.92px);
  color: rgb(134, 144, 153);
  margin-left: 15px;
  text-align: center;
}

.school-type-info div {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  text-align: center;
}

.school-rating {
  border-radius: 200px;
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;
  display: flex;
  overflow: hidden;
  background-color: rgb(32, 64, 82);
  color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 4px;
  margin-left: 25px;
}

.rating-one {
  font-size: 12px;
  margin-bottom: 10px;
}

.school-rating-main {
  margin-top: 20px;
}

.school-parentrating {
  border-radius: 200px;
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;
  display: flex;
  overflow: hidden;
  background-color: rgb(114, 122, 126);
  color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 4px;
}

.card-contact-info {
  display: flex;
  flex-direction: column;
}

.school-contact-info {
  font-weight: bold;
  font-size: 17px;
  text-align: left;
  margin-left: -20px;
}

.extra-info {
  font-size: 13px;
}

.school-rating-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.less-more {
  height: 200px;
  margin-top: 85px;
  width: 3%;
  font-size: 30px;
}
