.communityPage {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.GoogleSearchForm {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.GoogleSearchBar {
  border: none;
  box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.15);
  width: 1095px;
  height: 70px;
  padding-left: 10px;
  border: 0;
  border-radius: 10px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.GoogleSearchBar:focus {
  outline: none;
}
.GoogleSearchButton {
  background: none;
  border: none;
}
.GoogleSearchButton:hover {
  cursor: pointer;
}

.GoogleSearchButton:focus {
  outline: none;
}
.SearchIcon {
  margin-top: -5px;
  background: none;
}

.Map {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.Overview {
  font-size: 50px;
  color: #0f2027;
  margin-bottom: -20px;
}

.LocalsContent {
  margin-left: 103px;
  margin-top: -50px;
}

.LocalIcon {
  width: 30px;
  height: 30px;
}

.SayThings {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.SayThingsTwo {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -10px;
}

.SayThingsThree {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -5px;
}

.OneContent {
  width: 150px;
  display: flex;
  flex-direction: row;
  margin-right: 170px;
  margin-top: 5px;
}

.GroceryContent {
  width: 160px;
  display: flex;
  flex-direction: row;
  margin-right: 170px;
  margin-top: 5px;
}

.ThumbContent {
  width: 100px;
  display: flex;
  flex-direction: row;
  background-color: #7aabc0;
  margin-right: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ThumbContentTwo {
  width: 100px;
  display: flex;
  flex-direction: row;
  background-color: #7aabc0;
  margin-right: 5px;
  padding-left: 10px;
  padding-top: 5px;
  margin-bottom: 20px;
}

.ThumbRate {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 13px;
}

.pIcon {
  padding-top: 10px;
  padding-left: 10px;
  width: 400px;
  display: flex;
  justify-content: left;
}

.LocalsMore {
  text-align: center;
  color: #6493a5;
  background-color: lightgrey;
  width: 100px;
  margin-bottom: 50px;
  border-radius: 7px;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(143, 142, 142, 0.15);
}
